<footer class="main-footer">
  <div class="container">
    <hr />
    <p>
        <span aria-hidden="true" class="fab fa-heart">
        </span>
        <span class="sr-only">Heart</span>
        made with love
    </p>
  </div>
</footer>
