<nav class="main-navbar navbar main-navbar navbar-light bg-light navbar-expand-lg">
  <div class="container">
    <%= link_to 'Adore Maison', root_path, class: 'navbar-brand' %>
    <button aria-controls="main-navbar-collapse" aria-expanded="false" class="navbar-toggler navbar-toggler-right" data-target="#main-navbar-collapse" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon">
      </span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="navbar-nav main-navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Products', products_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Keywords', keywords_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
