= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      h2 = "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      ul
        - @product.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :asin
    = f.text_field :asin
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :no_potos
    = f.text_field :no_potos
  .field
    = f.label :factory_price
    = f.text_field :factory_price
  .field
    = f.label :dimension
    = f.text_field :dimension
  .field
    = f.label :weight_kg
    = f.text_field :weight_kg
  .field
    = f.label :target_selling_price
    = f.text_field :target_selling_price
  .field
    = f.label :launch_price
    = f.text_field :launch_price
  .field
    = f.label :units_needed_to_rank
    = f.text_field :units_needed_to_rank
  .field
    = f.label :units_per_master_carton
    = f.text_field :units_per_master_carton
  .field
    = f.label :target_sales_per_day
    = f.text_field :target_sales_per_day
  .field
    = f.label :mfg_time_days
    = f.text_field :mfg_time_days
  .field
    = f.label :ship_to_amz_days
    = f.text_field :ship_to_amz_days
  .field
    = f.label :tarrif_rate
    = f.text_field :tarrif_rate
  .field
    = f.label :transaction_fees
    = f.text_field :transaction_fees
  .field
    = f.label :target_ppc_tacos
    = f.text_field :target_ppc_tacos
  .field
    = f.label :inspection_cost
    = f.text_field :inspection_cost
  .field
    = f.label :estimated_unusable_units_perc
    = f.text_field :estimated_unusable_units_perc
  .field
    = f.label :other_costs
    = f.text_field :other_costs
  .field
    = f.label :units_needed_to_rank
    = f.text_field :units_needed_to_rank
  .field
    = f.label :inventory_roll_per_year
    = f.text_field :inventory_roll_per_year
  .actions = f.submit
